/* Resert CSS */
*{
    /* emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.text-while{
    color: #fff !important;
    
}

.text-center{
    text-align: center !important;
}

.pull-right{
    float: right !important;
}

.btn{
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: none;

}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}
.col-full{
    width: 100%;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    clear: both; 
    display: block;

}
.margin-top-8{
    margin-top: 8px;
}

.margin-top-16{
    margin-top: 16px ;
}

#main{

}
.clear{
    clear: both;
}
:root{
    --hight:46px;
}
#header{
    height: var(--hight);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
   
}

#nav{
   display: inline-block;
}

#nav li{
    /* display: inline-block; */
    position: relative;

}



#nav > li {
    display: inline-block;
}

#nav li a{
    color: white;
    text-decoration: none;
    line-height: var(--hight);
    padding: 0 16px;
    /* padding-left: 16px;
    padding-right: 100%; */
    display: block;
}
#nav >li:hover> a{
    color:#000;
    background-color: #ccc;
    /* line-height: var(--hight); */
    display: block;
}
#nav .subnav{
    display: none;
    min-width: 130px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    list-style-type: none;

}
#nav li:hover .subnav{
    display: block;
}

#nav > li>a{
   
    color: #fff;
    text-transform: uppercase;
}
#nav .subnav a{
    color: #000;
    padding: 10px;
    line-height: 40px;
}
#nav .subnav li:hover{
    color:#000;
    background-color: #ccc;
    /* line-height: var(--hight); */
    display: block;
}

#nav .search-down{
    font-size: 7px;
}
/* search-button */
#header .mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
 } 
#header .mobile-menu,
#header .search-button{
    float: right;
    padding: 0 30px;
}
#header .search-button:hover{
    background-color: red;
    cursor: pointer;
}
#header .mobile-menu:hover{
    background-color: #ccc;
}

#header .mobile-menu:hover .menu-mobile{
    color: #000;
}


#header .menu-mobile,
#header .search-all{
    color: #fff;
    font-size: 20px;
    line-height: var(--hight);
   
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center /cover no-repeat;
    
}

#slider .text-content{
    position: absolute;
    bottom: 40px;
    width: 100%;
    color: #fff;
    text-align: center;

}

#slider .text-heading{
    font-weight: 500S;
    font-size: 24px;
    margin-bottom: 25px;

}

#slider .text-descripsion{
    font-size: 15px;
}

#content{

}

#content .content-section{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
    padding: 64px 16px ;
}

#content .content-heading{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px ;
    text-align: center;
    letter-spacing: 2px;

}

#content .content-sub-heading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-bottom: 25px ;
    opacity: 0.7;
}

#content .about-text{
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 32px;
    /* overflow: hidden; */
    /* dungf ther clear  */
}


#content .member-name{
    font-size: 15px;
   
}

#content .member-avata{
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;
}
/* tour-section */

.tour-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;  
}

.ticket-list li{
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    
}
.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin: 16px;
    padding: 4px 8px;
    border-radius: 17px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    /* margin-right: 16px;
    padding: 0 8px; */
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    line-height: 24px;
    margin: -3px 0;

}

/* tour-section */
/* buy tickets */
.place-list{
    
    margin-top:16px  ;
    margin-bottom: 32px;
    
  

}


.place-photo{
    width: 100%;

}

.place-photo:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    color: #000;
    background-color: #fff;
    font-size: 15px;

}

.place-heading{
    margin-bottom: 15px;
    font-size: 15px;   
}

.place-date{
    opacity: 0.6;
    margin-bottom: 15px;

}

.place-dect{
    margin-bottom: 15px;

}


/* contact */
.contact-content{
    margin-top: 23px;

}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-info a{
    color: #0000EE;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}


.contact-form{
    font-size: 15px;
}

.form-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}
/* map-section */
.map-section img{
    width: 100%;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
   
    display: none;
    /* animation: modalshow ease 0.5; */

}
.modal.open{
    display: flex;

}
.modal-container{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: white;
    position: relative;
    animation: modalShow ease 0.4s;
    
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover{
    cursor: pointer;
    opacity: 1;
    background-color: #ccc;
}

.modal-header{
        background-color: #009688;
        height: 129px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 30px;
}

.modal-heading-icon{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    margin-bottom: 12px;
    text-transform:inherit;
}
 
.modal-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    /* margin: 15px 0; */
    font-size: 15px;
    margin-bottom: 20px;
    
}

#buy-tickets{
    width: 100%;
    /* margin: 16px; */
    font-size: 15px;
    border: none;
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;

}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}

.modal-footer a{
    color: #2196F3;
}
@keyframes modalShow {
    from{
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
#footer{
    padding: 64px 16px;
    text-align: center;
    


}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;

}

#footer .coppyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0,0,0,0.4);
}

#footer .coppyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
 
#footer .coppyright a{
    color: rgba(0,0,0,0.6);
}